<section class="intro" style="background-image:url({{albercaDatos.image_bg}});">
	<div id="introContainer" class="intro_container animated">
		<h1>
			{{albercaDatos.titulo}}
			<!-- <?php echo $fields['titulo']; ?> -->
		</h1>
		<p>
			{{albercaDatos.subtitulo}}
			<!-- <?php echo $fields['subtitulo']; ?> -->
		</p>

		<div class="enter">
			<img src="{{albercaDatos.root}}Alberca/images/general/enter.png" alt="Entrar">
		</div>
	</div>

	<a href="tel://{{albercaDatos.telefono}}" class="llamar">Llamanos</a>
	<a href="" class="mapa">Mapa</a>
</section>